npm install axios
npm install @popperjs/core
npm install react-bootstrap
npm install react-router-dom
npm install react-markdown
npm install tonal
npm install tone
npm install @tonaljs/note
npm install react-chords