npm install axios
npm install @popperjs/core
npm install react-bootstrap
npm install react-router-dom
npm install react-markdown
npm install tonal
npm install tone
npm install @tonaljs/note
npm install @tonaljs/tonal
npm install react-chords
npm install --save-dev vitest @testing-library/react @testing-library/jest-dom @testing-library/user-event
npm install --save-dev jsdom @testing-library/jest-dom
